In [2]:
import pandas as pd

In [86]:
d1 = ['A']*4
d2 = ['A', 'B', 'D', 'E']
d3 = ['B', 'D', 'E', 'Null']
d4 = list(range(1, 5))
rid = [111]*4
sm = ['Air']*4
col_names = ['RouteId', 'Origin', 'Warehouse', 'Destination', 'LegNum', 'Shipping']
routes = pd.DataFrame(zip(*[rid, d1, d2, d3, d4, sm]), columns=col_names)

In [87]:
l1 = ['A', 'B', 'D', 'E', 'B']
l2 = ['B', 'D', 'E', None, 'D']
l3 = [1]*4+[2]
l5 = list(range(10, 60, 10))
liv_col_names = ['Warehouse', 'Destination', 'PackageDate', 'PackageCount']
livet = pd.DataFrame(zip(*[l1, l2, l3, l5]), columns=liv_col_names)

In [88]:
newdfs = []
package_dates = set(livet.PackageDate.to_list())
for p_dt in package_dates:
    newdfs.append(routes.copy().assign(PackageDate=p_dt))
x1 = pd.concat(newdfs)
x1.merge(livet, how='left')

,RouteId,Origin,Warehouse,Destination,LegNum,Shipping,PackageDate,PackageCount
0,111,A,A,B,1,Air,1,10.0
1,111,A,B,D,2,Air,1,20.0
2,111,A,D,E,3,Air,1,30.0
3,111,A,E,Null,4,Air,1,NaN
4,111,A,A,B,1,Air,2,NaN
5,111,A,B,D,2,Air,2,50.0
6,111,A,D,E,3,Air,2,NaN
7,111,A,E,Null,4,Air,2,NaN